.chat-container {
	background-color: var(--color-dark-1);
	@apply h-full text-white relative flex flex-col px-6 pt-16 overflow-x-hidden;
	@apply border-l border-l-zinc-800;
}

.message-input {
	background-color: var(--color-dark-1);
	@apply absolute bottom-0 left-0 right-0 p-6 shadow-md;
}

.chat-banner {
	background-color: var(--color-dark-2);
	@apply absolute left-0 right-0 top-0 h-14;
	@apply flex items-center px-6;
}

.chat {
	@apply flex w-1/2 mb-3;
}

.chat-box {
	@apply overflow-y-auto;
	height: calc(100vh - 156px)
}

.chat-banner {
	@apply flex justify-between items-center capitalize;
}

.chat.sending {
	@apply flex-row-reverse ml-auto; 
}

.chat-details {
	@apply absolute top-0 bottom-0 right-0 z-10 shadow-lg;
	transition: .5s;
	width: 500px;
}

.chat-details.hide {
	transform: translateX(100%);
}

.text-bubble {
	@apply py-2 px-4 rounded-full;
}

.receiving .text-bubble {
	background-color: var(--color-dark-highlight);
	@apply rounded-tl-none;
}

.sending .text-bubble {
	background-color: var(--color-primary);
	@apply rounded-tr-none;
}