@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--color-primary: #3979FF;
	--color-dark-1: #161819;
	--color-dark-2: #181A1C;
	--color-dark-highlight: #27292D;
}

body {
	font-family: 'Public Sans', sans-serif;
}