@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--color-primary: #3979FF;
	--color-dark-1: #161819;
	--color-dark-2: #181A1C;
	--color-dark-highlight: #27292D;
}

body {
	font-family: 'Public Sans', sans-serif;
	@apply text-sm;
}

button {
	@apply py-2 px-7 rounded-md bg-indigo-700 text-white;
}

input:not(.custom) {
	@apply bg-gray-50 p-3 rounded-md border border-gray-200;
}

.input-block {
	@apply flex flex-col mb-5;
}

.input-block label {
	@apply mb-2 text-white;
}

.input-block input {
	background: var(--color-dark-highlight);
	border-color: var(--color-dark-1);
	@apply text-white;
	@apply focus:ring-2 focus:ring-indigo-700 focus:outline-none;
}

.auth-wrapper  {
	background-color: var(--color-dark-1);
}

.form-wrapper {
	background-color: var(--color-dark-2);
}

.list-item {
	@apply flex items-center px-4 py-3;
}

.list-item.active {
	background-color: var(--color-dark-highlight);
	@apply rounded-md; 
}